<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${users}">
    <label for="name">Введи Имя:</label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="lastName">Введи Фамилию:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Введи Возраст:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Введи email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <!--    <div th:if="${users.email.equals()}"                            >Email Check</div>-->
    <br/>
    <label for="password">Введи Пароль:</label>
    <input required min="4" type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Roles:
        <input type="checkbox" name="role"
               th:each="role : ${roles}"
               th:text="${role.name}"
               th:value="${role.id}"
        />
    </label>
    <input type="submit" value="Create!"/>
</form>
<form action="/logout">
    <button>EXIT</button>
</form>
</body>
</html>