<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чел</title>
</head>
<body>
<a th:text="${users.getId()}">VALUER</a>
<a th:text="${users.getName()}">VALUER</a>
<a th:text="${users.getSurname()}">VALUER</a>
<a th:text="${users.getAge()}">VALUER</a>
<a th:text="${users.getUsername()}">VALUER</a>
<br>
<label for="roleSyka">ROLE:</label>
<div id="roleSyka" th:each="role: ${users.getRoles()}">
    <a th:text="${role.getNameRole().substring(5)}"></a>
</div>

<a th:href="@{/admin/{id}/edit(id=${users.getId()})}">Edit</a>


<form th:method="DELETE" th:action="@{/admin/{id}(id=${users.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<form action="/logout" >
    <button>EXIT</button>
</form>
</body>
</html>