<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Челики</title>
</head>
<body>

<div th:each="user123 : ${users}">
    <a th:href="@{/admin/{id}(id=${user123.getId()})}" th:text="${user123.getId()}"></a>
    <a th:text="${user123.getName()}"></a>
    <a th:text="${user123.getSurname()}"></a>
    <a th:text="${user123.getAge()}"></a>
</div>

<br/>
<hr/>

<a href="/admin/new">Create new User</a>
<form action="/logout" >
    <button>EXIT</button>
</form>
</body>
</html>