<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Челики</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getFirstName()}">First name</td>
        <td th:utext="${user.getLastName()}">Last name</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td th:utext="${user.getEmail()}">Email</td>
        <td><span th:each="roles : ${user.getRoles()}" th:utext= "${roles.toString()}+'   '">Roles</span></td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId})}">Update</a></td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId})}"><input type="submit" value="Delete"/></form> </td>
    </tr>
</table>

<a href="/admin/new">Create new User</a>
<form action="/logout" >
    <button>EXIT</button>
</form>
</body>
</html>