<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чел</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>age name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:object="${user}">
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getFirstName()}">First name</td>
        <td th:utext="${user.lastName}">Last name</td>
        <td th:utext="${user.age}">Age</td>
        <td th:utext="${user.email}">Email</td>
        <td><span th:each="roles : ${user.roles}" th:utext= "${roles.toString()}+'  '">Roles</span></td>
    </tr>
</table>


<form action="/logout" >
    <button>EXIT</button>
</form>
</body>
</html>