<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чел</title>
</head>
<body>
<table border="1"
<tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>age</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Update</th>
    <th>Delete</th>
</tr>
<tr th:each="user : ${authUser}">
    <td th:utext="${authUser.getId()}">id</td>
    <td th:utext="${authUser.getFirstName()}">First name</td>
    <td th:utext="${authUser.getLastName()}">Last name</td>
    <td th:utext="${authUser.getAge()}">Age</td>
    <td th:utext="${authUser.getEmail()}">Email</td>
    <td><span th:each="roles : ${authUser.getRoles()}" th:utext= "${roles.toString()}+'   '">Roles</span></td>
    <td><a th:href="@{/admin/{id}/update(id=${authUser.getId})}">Update</a></td>
    <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${authUser.getId})}"><input type="submit" value="Delete"/></form> </td>
</tr>
</table>


<form action="/logout" >
    <button>EXIT</button>
</form>
</body>
</html>